* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  height: auto;
  margin: 0px auto;
  font-family: 'Open Sans';
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.prod-card {
  flex-basis: 16%;
  padding: 50px;
  background-color: black;
}

.prod-card img {
  display: block;
  width: 100%;
}

/* Header */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 15px;
  padding: 50px;
  margin-left: 30%;
  font-weight: bold;
  text-transform: uppercase;
}

ul li a:hover,
ul li a.active {
  background-color: lightblue;
}

/* MAIN */
.blackContainer {
  background-color: black;
}

.firstLine {
  max-width: 1200px;
  height: auto;
  margin: 0px auto;
  font-family: 'Open Sans';
}

h1 {
  color: white;
  padding: 40px;
}

h3 {
  color: white;
}

.blueContainer {
  background-color: #00aeff;
}

.secondLine {
  max-width: 1200px;
  height: auto;
  margin: 0px auto;
  font-family: 'Open Sans';
}

.littleImages {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.littleImages img {
  width: 40px;
}

.didascalies {
  margin-top: 15px;
}

/* FOOTER */
.dcBackground {
  background-image: url(./assets/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.allLists {
  display: flex;
}

.firstList ul,
.secondList ul,
.thirdList ul {
  flex-direction: column;
  margin-left: 0px;
  color: grey;
  text-transform: none;
  gap: 10px;
  position: relative;
}

.fourthList ul {
  flex-direction: column;
  color: grey;
  text-transform: none;
  margin-left: 0px;
  position: absolute;
  bottom: 60px;
  line-height: 0;
}


h2 {
  color: white;
}

.dcLogo {
  margin-left: 100px;

}

.dcLogo img {
  width: 120%;
  height: auto;
}

.lightgrey {
  background-color: #5e5a5a;
}

.lastFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}

.button {
  color: white;
  border: 1px solid #00aeff;
  padding: 10px;
  font-size: 20px;
}

.signs {
  color: #00aeff;
  display: flex;
  gap: 30px;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.icons img {
  width: 40px;
  height: auto;
}